<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>carousel_types</key>
	<dict>
		<key>CACarouselViewController</key>
		<dict>
			<key>carousel_center</key>
			<string>CACarouselVC_Center</string>
			<key>carousel_river_comicon</key>
			<string>CACarouselVC_Comicon</string>
			<key>carousel_center_deportes</key>
			<string>CACarouselVC_Center_Deportes</string>
			<key>carousel_center_deportes_promoted</key>
			<string>CACarouselVC_Center_Deportes_Promoted</string>
			<key>carousel_center_bottom_thai</key>
			<string>CACarouselVC_Center_Bottom_thai</string>
			<key>carousel_bar</key>
			<string>CACarouselVC_Bars</string>
			<key>carousel_bar_noticieros</key>
			<string>CACarouselVC_Bars_Noticieros</string>
			<key>carousel_bar_noticieros_promoted_ipad</key>
			<string>CACarouselVC_Bars_Noticieros_promoted_ipad</string>
			<key>carousel_bar_tlc_show</key>
			<string>CACarouselVC_Bars_TLC_Show</string>
			<key>carousel_right</key>
			<string>CACarouselVC_Right</string>
			<key>carusel_bottom_right</key>
			<string>CACarouselVC_BottomRight</string>
			<key>carousel_almost_bottom</key>
			<string>CACarouselVC_Bars_AlmostBottom</string>
			<key>carousel_tlv</key>
			<string>CACarouselVC_Bars_AlmostBottom_tlv</string>
			<key>carousel_center_top</key>
			<string>CACarouselVC_Center_Top</string>
			<key>carousel_left</key>
			<string>CACarouselVC_Left</string>
			<key>carousel_left_channel10</key>
			<string>CACarouselVC_Left_channel10</string>
			<key>carousel_center_photogallery</key>
			<string>CACarouselVC_Center_Photogallery</string>
		</dict>
	</dict>
	<key>composite_types</key>
	<dict>
		<key>CACompositeViewController</key>
		<dict>
			<key>composite_standard</key>
			<string>CACompositeVC</string>
		</dict>
	</dict>
	<key>dropdown_sheet_types</key>
	<dict>
		<key>CADropSheetViewController</key>
		<dict>
			<key>dropdown_sheet_standard</key>
			<string>CADropSheetStandard</string>
		</dict>
	</dict>
	<key>collection_types</key>
	<dict>
		<key>CACollectionViewController</key>
		<dict>
			<key>collection_standard</key>
			<string>CACollectionVC</string>
			<key>collection_baby_first_tv_show</key>
			<string>CACollectionVCBabyFirstTVShow</string>
			<key>collection_standard_with_close_button</key>
			<string>CACollectionWithCloseVC</string>
			<key>collection_baby_tv_show</key>
			<string>CACollectionVCBabyTVShow</string>
		</dict>
	</dict>
	<key>section_picker_types</key>
	<dict>
		<key>CASectionPickerViewController</key>
		<dict>
			<key>section_picker_standard</key>
			<string>CASectionPickerViewController</string>
			<key>section_picker_standard_with_header</key>
			<string>CASectionPickerViewController_With_Header</string>
		</dict>
	</dict>
	<key>popover_types</key>
	<dict>
		<key>CAPopoverViewController</key>
		<dict>
			<key>popover_standard</key>
			<string>CAPopoverStandard</string>
		</dict>
	</dict>
	<key>cell_types</key>
	<dict>
		<key>CACellAtomMediaContainerViewController</key>
		<dict>
			<key>cell_atom_media_container</key>
			<string>CACellAtomMediaContainer</string>
		</dict>
		<key>CACellAtomMediaListViewController</key>
		<dict>
			<key>cell_atom_media_list</key>
			<string>CACellAtomMediaList</string>
		</dict>
		<key>CACellAtomMediaPlayerViewController</key>
		<dict>
			<key>cell_atom_audio_l26</key>
			<string>CACellAtomMediaPlayerL26</string>
			<key>cell_atom_audio</key>
			<string>CACellAtomMediaPlayer</string>
		</dict>
		<key>CACellAtomEntryViewController</key>
		<dict>
			<key>cell_atom_article_standard</key>
			<string>CACellAtomArticleStandard</string>
			<key>cell_atom_article_standard_l25</key>
			<string>CACellAtomArticleStandardL25</string>
			<key>cell_atom_article_native_share_standard</key>
			<string>CACellAtomArticleStandard_nativeShare</string>
			<key>cell_atom_photo_gallery_america_deportes</key>
			<string>CACellAtomPhotoGalleryAmericaDeportes</string>
			<key>cell_atom_photo_gallery_standard</key>
			<string>CACellAtomPhotoGalleryStandard</string>
			<key>cell_atom_photo_gallery_native_share_standard</key>
			<string>CACellAtomPhotoGalleryStandard_nativeShare</string>
		</dict>
		<key>CACellViewController</key>
		<dict>
			<key>cell_kanvideo_generic</key>
			<string>CACellVC_KanVideo_generic</string>
			<key>cell_kanvideo_generic_promoted</key>
			<string>CACellVC_KanVideo_generic_promoted</string>
			<key>cell_next_intermidiate</key>
			<string>CACellVC_Next_intermidiate</string>
			<key>cell_next_more</key>
			<string>CACellVC_Next_more</string>
			<key>cell_next_show_item</key>
			<string>CACellVC_Next_show</string>
			<key>cell_next_show_item_promoted</key>
			<string>CACellVC_Next_show_promoted</string>
			<key>cell_next_standard</key>
			<string>CACellVC_Next_standard</string>
			<key>cell_miaomi_logo</key>
			<string>CACellVC_Miaomi_Logo</string>
			<key>cell_miaomi_all_shows</key>
			<string>CACellVC_Miaomi_AllShows</string>
			<key>cell_miaomi_all_shows_grid</key>
			<string>CACellVC_Miaomi_AllShowsGrid</string>
			<key>cell_miaomi_show</key>
			<string>CACellVC_Miaomi_Show</string>
			<key>cell_channel20_top_list</key>
			<string>CACellVC_Channel20_top_list_cell</string>
			<key>cell_kan_ganre_item</key>
			<string>CACellVC_Kan_Ganre_Item</string>
			<key>cell_kan_radio_section_item</key>
			<string>CACellVC_Kan_Radio_Section_Item</string>
			<key>cell_kan_item_side_details</key>
			<string>CACellVC_Kan_Item_SideDetails</string>
			<key>cell_channel20_carousel</key>
			<string>CACellVC_Channel20_Carousel</string>
			<key>cell_channel20_generic_cell</key>
			<string>CACellVC_Channel20_generic_cell</string>
			<key>cell_side_titles_channel20_rtl</key>
			<string>CACellVC_Side_Titles_Channel20_RTL</string>
			<key>cell_channel20_header_rtl</key>
			<string>CACellVC_RTL_Channel20_Header</string>
			<key>cell_channel20_top_generic</key>
			<string>CACellVC_Channel20_top_generic_cell</string>
			<key>cell_rpc_iphone_standard</key>
			<string>CACellVC_RPC_iPhone_standard</string>
			<key>cell_caracol_standard_iPad</key>
			<string>CACellVC_caracol_standard_iPad</string>
			<key>cell_telemetro_home</key>
			<string>CACellVC_telemetro_home</string>
			<key>cell_telemetro_home_1</key>
			<string>CACellVC_telemetro_home_one_line</string>
			<key>cell_telemetro_Categories</key>
			<string>CACellVC_Telemetro_Categories</string>
			<key>cell_telemetro_favorites</key>
			<string>CACellVC_telemetro_favorites</string>
			<key>cell_fuse_black</key>
			<string>CACellVC_Fuse_Black</string>
			<key>cell_rpc_home_vod</key>
			<string>CACellVC_RPC_Home_Vod</string>
			<key>cell_telefe_standard</key>
			<string>CACellVC_telefe_standard</string>
			<key>cell_tlv_standard</key>
			<string>CACellVC_tlv_standard_cell</string>
			<key>cell_frequencia_standard</key>
			<string>CACellVC_frecuencia_standard_cell</string>
			<key>cell_storeFront_cell</key>
			<string>CACellVC_storeFront_cell</string>
			<key>cell_hot_carousel_rtl</key>
			<string>CACellVC_Hot_Carousel_RTL</string>
			<key>cell_ltr_small</key>
			<string>CACellVC_LTR_Small</string>
			<key>cell_badge_side_title</key>
			<string>CACellVC_Badge_Side_Title</string>
			<key>cell_standard</key>
			<string>CACellVC</string>
			<key>cell_hqme_test</key>
			<string>CACellVC_HQME_Test</string>
			<key>cell_bftv_all_shows</key>
			<string>CACellVCBabyFirstTVAllShows</string>
			<key>cell_bftv_all_shows_with_text</key>
			<string>CACellVCBabyFirstTVAllShowsWithText</string>
			<key>cell_bftv_all_shows_with_text_iPhone</key>
			<string>CACellVCBabyFirstTVAllShowsWithText_iphone</string>
			<key>cell_ch1_vod</key>
			<string>CACellVC_ch1_vod</string>
			<key>cell_reshet_generic</key>
			<string>CACellVC_Reshet_generic_cell</string>
			<key>cell_lasestrellas_vod</key>
			<string>CACellVC_lasestrellas_vod_cell</string>
			<key>cell_side_title_reshet_rtl</key>
			<string>CACellVC_Side_Titles_Reshet_RTL</string>
			<key>cell_reshet_header_rtl</key>
			<string>CACellVC_RTL_Reshet_Header</string>
			<key>cell_lasestrellas_header</key>
			<string>CACellVC_Lasestrellas_Header</string>
			<key>cell_side_title_lasestrellas_rtl</key>
			<string>CACellVC_Side_Titles_Lasestrellas_RTL</string>
			<key>cell_side_title_only_hot_rtl</key>
			<string>CACellVC_Side_Title_Only_Hot_RTL</string>
			<key>cell_reshet_news_carousel_rtl</key>
			<string>CACellVC_Reshet_RTL_Carousel</string>
			<key>cell_reshet_promoted_rtl</key>
			<string>CACellVC_RTL_Reshet_Promoted</string>
			<key>cell_bottom_title_reshet_rtl</key>
			<string>CACellVC_Bottom_Titles_Reshet_RTL</string>
			<key>cell_thai_ipad_promoted</key>
			<string>CACellVC_thai_Promoted</string>
			<key>cell_thai_standard</key>
			<string>CACellVC_Thai_Standard</string>
			<key>cell_bftv_show</key>
			<string>CACellVC_BabyFirstTVShowScreen</string>
			<key>cell_thai_promoted_article</key>
			<string>CACellVC_Thai_Promoted_Article</string>
			<key>cell_thai_promoted_show</key>
			<string>CACellVC_Thai_Promoted_Show</string>
			<key>cell_thai_allShows</key>
			<string>CACellVC_Thai_AllShows</string>
			<key>cell_hot_rtl</key>
			<string>CACellVC_Hot_RTL</string>
			<key>cell_fuse_home_ipad_carousel</key>
			<string>CACellVC_Fuse_Home_iPad_Carousel</string>
			<key>cell_rtl2</key>
			<string>CACellVC_RTL</string>
			<key>cell_image_only</key>
			<string>CACellVCImageOnly</string>
			<key>cell_caracol_standard_iPhone</key>
			<string>CACellVC_caracol_standard_iPhone</string>
			<key>cell_rpc_categories</key>
			<string>CACellVC_RPC_Categories</string>
			<key>cell_side_title</key>
			<string>CACellVC_Side_Titles</string>
			<key>cell_side_title_rpc</key>
			<string>CACellVC_Side_Titles_rpc</string>
			<key>cell_ltr2</key>
			<string>CACellVC_LTR</string>
			<key>cell_ch1_standard</key>
			<string>CACellVC_ch1_standard</string>
			<key>cell_side_title_hot_rtl</key>
			<string>CACellVC_Side_Titles_Hot_RTL</string>
			<key>cell_storeFront_Header</key>
			<string>CACellVC_storeFront_Header</string>
			<key>cell_rpc</key>
			<string>CACellVC_RPC</string>
			<key>cell_rpc_carousel_ltr</key>
			<string>CACellVC_Carousel_RPC_LTR</string>
			<key>cell_ch1_show</key>
			<string>CACellVC_ch1_show</string>
			<key>cell_ch1_show_picker</key>
			<string>CACellVC_ch1_show_picker</string>
			<key>cell_fuse_black_intermediate</key>
			<string>CACellVC_Fuse_Black_Intermidiate</string>
			<key>cell_fuse_list</key>
			<string>CACellVC_Fuse_List</string>
			<key>cell_tlv_special_cell_iPad</key>
			<string>CACellVC_tlv_special_iPad</string>
			<key>cell_hot_show</key>
			<string>CACellVCHotShow</string>
			<key>cell_fuse_home_iphone_carousel</key>
			<string>CACellVC_Fuse_Black_Carousel</string>
			<key>cell_fuse_all_show</key>
			<string>CACellVC_Fuse_AllShows</string>
			<key>cell_tlv_standard_iPhone</key>
			<string>CACellVC_tlv_standard_iPhoneCell</string>
			<key>cell_thai_article</key>
			<string>CACellVC_Thai_Article</string>
			<key>cell_thai_show</key>
			<string>CACellVC_Thai_Show</string>
			<key>cell_tlv_special_cell_iPhone</key>
			<string>CACellVC_tlv_special_iphone</string>
			<key>cell_rpc_show</key>
			<string>CACellVC_RPC_Show</string>
			<key>cell_tlv_standard_Big</key>
			<string>CACellVC_tlv_standard_Big</string>
			<key>cell_tlv_standard_Big_ipad</key>
			<string>CACellVC_tlv_standard_Big_ipad</string>
			<key>cell_tlv_standard_Small</key>
			<string>CACellVC_tlv_standard_Small</string>
			<key>cell_noticias_big_atom</key>
			<string>CACellVCNoticiasBigAtom</string>
			<key>cell_noticias_big_promoted_atom_ipad</key>
			<string>CACellVCNoticiasBigPromotedAtom_ipad</string>
			<key>cell_noticias_atom_no_image</key>
			<string>CACellVCNoticiasAtomNoImage</string>
			<key>cell_noticias_atom_no_image_ipad</key>
			<string>CACellVCNoticiasAtomNoImage_ipad</string>
			<key>cell_tlv_standard_Show</key>
			<string>CACellVC_tlv_show</string>
			<key>cell_tlv_standard_Show_ipad</key>
			<string>CACellVC_tlv_show_ipad</string>
			<key>cell_tlv_standard_Show_Details</key>
			<string>CACellVC_tlv_show_details</string>
			<key>cell_tlv_standard_Show_Details_ipad</key>
			<string>CACellVC_tlv_show_details_ipad</string>
			<key>cell_tlv_channel_cell</key>
			<string>CACellVC_tlv_channel_cell</string>
			<key>cell_tlv_standard_Intermidiate</key>
			<string>CACellVC_tlv_intermidiate</string>
			<key>cell_channel10_rtl</key>
			<string>CACellVC_channel10_RTL</string>
			<key>cell_bftv_title_description_ipad</key>
			<string>CACellVCBabyFirstTVTitleDescription_ipad</string>
			<key>cell_jelly_jamm_title_description</key>
			<string>CACellVCJellyJammTitleDescription</string>
			<key>cell_bftv_title_description_iphone</key>
			<string>CACellVCBabyFirstTVTitleDescription_iphone</string>
			<key>cell_bftv_title</key>
			<string>CACellVCBabyFirstTVTitle</string>
			<key>cell_baby_tv_title</key>
			<string>CACellVCBabyTVTitle</string>
			<key>cell_baby_tv_favorites</key>
			<string>CACellVCBabyTVFavorites</string>
			<key>cell_baby_tv_play_all</key>
			<string>CACellVCBabyTVPlayAll</string>
			<key>cell_baby_tv_standard</key>
			<string>CACellVCBabyTVStandard</string>
			<key>cell_baby_tv_edit</key>
			<string>CACellVCBabyTVEdit</string>
			<key>cell_baby_first_subscription</key>
			<string>CACellVCBabyFirstSubscription</string>
			<key>cell_baby_tv_subscription</key>
			<string>CACellVCBabyTVSubscription</string>
			<key>cell_baby_tv_date_until</key>
			<string>CACellVCBabyTVDateUntil</string>
			<key>cell_baby_first_subscription_small</key>
			<string>CACellVCBabyFirstTVSubscriptionSmall</string>
			<key>cell_baby_tv_title_subtitle</key>
			<string>CACellVCBabyTVTitleSubtitle</string>
			<key>cell_deportes_home</key>
			<string>CACellVCDeportesHome</string>
			<key>cell_deportes_home_big</key>
			<string>CACellVCDeportesHomeBig</string>
			<key>cell_deported_home_promoted</key>
			<string>CACellVCDeportesHomePromoted</string>
			<key>cell_noticieros_big_atom</key>
			<string>CACellVCNoticierosBigAtom</string>
			<key>cell_noticieros_big</key>
			<string>CACellVCNoticierosBig</string>
			<key>cell_noticieros_standard</key>
			<string>CACellVCNoticierosStandard</string>
			<key>cell_noticieros_standard_atom</key>
			<string>CACellVCNoticierosStandardAtom</string>
			<key>cell_noticieros_standard_atom_no_image</key>
			<string>CACellVCNoticierosAtomNoImage</string>
			<key>cell_noticieros_standard_atom_no_image_ipad</key>
			<string>CACellVCNoticierosAtomNoImage_ipad</string>
			<key>cell_noticieros_standard_atom_ipad</key>
			<string>CACellVCNoticierosStandardAtom_ipad</string>
			<key>cell_noticieros_standard_ipad</key>
			<string>CACellVCNoticierosStandard_ipad</string>
			<key>cell_noticieros_big_atom_ipad</key>
			<string>CACellVCNoticierosBigAtom_ipad</string>
			<key>cell_noticieros_big_ipad</key>
			<string>CACellVCNoticierosBig_ipad</string>
			<key>cell_noticieros_promoted_ipad</key>
			<string>CACellVCNoticierosBigPromoted_ipad</string>
			<key>cell_noticieros_promoted_atom_ipad</key>
			<string>CACellVCNoticierosBigPromotedAtom_ipad</string>
			<key>cell_noticieros_show_ipad</key>
			<string>CACellVCNoticierosShow_ipad</string>
			<key>cell_tvgo_home_standard</key>
			<string>CACellVC_TVGO_HomeStandard</string>
			<key>cell_tvgo_home_intermediate</key>
			<string>CACellVC_TVGO_Intermediate</string>
			<key>cell_tvgo_show_standard</key>
			<string>CACellVC_TVGO_ShowStandard</string>
			<key>cell_tvgo_carousel</key>
			<string>CACellVC_TVGO_Carousel</string>
			<key>cell_tvgo_favorites</key>
			<string>CACellVC_TVGO_Favorites</string>
			<key>cell_jellyJamm_home_regular</key>
			<string>CACellVC_JellyJamm_Home_Regular</string>
			<key>cell_jellyJamm_home_big</key>
			<string>CACellVC_JellyJamm_Home_Big</string>
			<key>cell_jellyJamm_allShows</key>
			<string>CACellVC_JellyJamm_AllShows</string>
			<key>cell_jellyJamm_show</key>
			<string>CACellVC_JellyJamm_Show</string>
			<key>cell_image_only_mplay</key>
			<string>CACellVCImageOnlyMPlay</string>
			<key>cell_l23_detailed</key>
			<string>CACellVC_L23_DetailedCell</string>
			<key>cell_televisa_intermidiate</key>
			<string>CACellVCTelevisaIntermidiate</string>
			<key>cell_l14_epgItem</key>
			<string>CACellVC_L14_EpgItem</string>
			<key>cell_l14_epgItem_ipad</key>
			<string>CACellVC_L14_EpgItem_ipad</string>
			<key>cell_l14_centered_label</key>
			<string>CACellVC_L14_CenteredLabel</string>
			<key>cell_l14_vodItem_sideDetails</key>
			<string>CACellVC_L14_VodItem_SideDetails</string>
			<key>cell_l14_vodItem_sideDetails_no_dates</key>
			<string>CACellVC_L14_VodItem_SideDetails_nodates</string>
			<key>cell_l14_vodItem_halfwidth</key>
			<string>CACellVC_L14_VodItem_HalfWidth</string>
			<key>cell_l14_vodItem_halfwidth_left_padding</key>
			<string>CACellVC_L14_VodItem_HalfWidth_leftPadding</string>
			<key>cell_l14_vodItem_halfwidth_middle_padding</key>
			<string>CACellVC_L14_VodItem_HalfWidth_middePadding</string>
			<key>cell_l14_vodItem_halfwidth_right_padding</key>
			<string>CACellVC_L14_VodItem_HalfWidth_rightPadding</string>
			<key>cell_l14_vodItem_fullwidth_with_padding</key>
			<string>CACellVC_L14_VodItem_FullWidth_withPadding</string>
			<key>cell_l14_black_carousel</key>
			<string>CACellVC_L14_Black_Carousel</string>
			<key>cell_l14_vodItem_fullwidth_left_with_padding</key>
			<string>CACellVC_L14_VodItem_FullWidth_left_withPadding</string>
			<key>cell_l14_vodItem_fullwidth_right_with_padding</key>
			<string>CACellVC_L14_VodItem_FullWidth_right_withPadding</string>
			<key>cell_l24_show_item</key>
			<string>CACellVC_L24_ShowItem</string>
			<key>cell_l24_show_item_fullwidth</key>
			<string>CACellVC_L24_ShowItem_FullWidth</string>
			<key>cell_l24_carousel_item</key>
			<string>CACellVC_L24_CarouselItem</string>
			<key>cell_l24_centered_label</key>
			<string>CACellVC_L24_CenteredLabel</string>
			<key>cell_l24_featured_show</key>
			<string>CACellVC_L24_FeaturedShow</string>
			<key>cell_l24_live_screen_item</key>
			<string>CACellVC_L24_LiveScreenItem</string>
			<key>cell_l25_featured_show</key>
			<string>CACellVC_L25_FeaturedShow</string>
			<key>cell_l25_show_item</key>
			<string>CACellVC_L25_ShowItem</string>
			<key>cell_l25_article_item</key>
			<string>CACellVC_L25_ArticleItem</string>
			<key>cell_l25_featured_article</key>
			<string>CACellVC_L25_FeaturedArticle</string>
			<key>cell_l25_live_screen_item</key>
			<string>CACellVC_L25_LiveScreenItem</string>
			<key>cell_l25_thin_bottom_line</key>
			<string>CACellVC_L25_Thin_Bottom_Line</string>
			<key>cell_l39_hero</key>
			<string>CACellVC_L39_Hero</string>
			<key>cell_l39_home_fighter</key>
			<string>CACellVC_L39_HomeFighter</string>
			<key>cell_l39_home_promo_header</key>
			<string>CACellVC_L39_HomePromoHeader</string>
			<key>cell_l39_home_promo_show</key>
			<string>CACellVC_L39_HomePromoShow</string>
			<key>cell_l39_home_show</key>
			<string>CACellVC_L39_HomeShow</string>
			<key>cell_l39_show_header</key>
			<string>CACellVC_L39_ShowHeader</string>
			<key>cell_l39_show_small</key>
			<string>CACellVC_L39_ShowSmall</string>
			<key>cell_l39_settings</key>
			<string>CACellVC_L39_Settings</string>
			<key>cell_l39_settings_header</key>
			<string>CACellVC_L39_SettingsHeader</string>
		</dict>
		<key>CACellTitleViewController</key>
		<dict>
			<key>cell_next_generic_header</key>
			<string>CACellVC_Next_generic_header</string>
			<key>cell_kan_center_title_no_image_thin_bottom_line</key>
			<string>CACellVC_Kan_Center_Title_No_Image_Thin_Bottom_Line</string>
			<key>cell_title_rtl_header</key>
			<string>CACellVC_RTL_Header</string>
			<key>cell_title_rtl</key>
			<string>CACellVC_RTL_Title</string>
			<key>cell_title_rtl2</key>
			<string>CACellVC_RTL_Title2</string>
			<key>cell_hot_title_vertical_center_no_image</key>
			<string>CACellVC_HOT_Center_Title_No_Image</string>
			<key>cell_thai_Center_Title_No_Image</key>
			<string>CACellVC_thai_Center_Title_No_Image</string>
			<key>cell_title_ltr</key>
			<string>CACellVC_LTR_Title</string>
			<key>cell_title_ltr_no_image</key>
			<string>CACellVC_LTR_Title_No_Image</string>
			<key>cell_title_header</key>
			<string>CACellVC_LTR_Header</string>
			<key>cell_title_center_no_image</key>
			<string>CACellVC_Center_Title_No_Image</string>
			<key>cell_title_center_no_image_two_lines</key>
			<string>CACellVC_Center_Title_No_Image_Two_lines</string>
			<key>cell_title_ltr_thai</key>
			<string>CACellVC_LTR_title_thai</string>
			<key>cell_title_center_no_image_with_thin_bottom_line</key>
			<string>CACellVC_Center_Title_No_Image_Thin_Bottom_Line</string>
			<key>cell_title_center_no_image_with_thin_bottom_line_mplay</key>
			<string>CACellVC_Center_Title_No_Image_Thin_Bottom_Line_mplay</string>
			<key>cell_title_photogallery</key>
			<string>CACellVC_LTR_Title_Photogallery</string>
			<key>cell_title_photogallery_ipad</key>
			<string>CACellVC_LTR_Title_Photogallery_ipad</string>
			<key>cell_title_l14_ltr_underlined_vod_header</key>
			<string>CACellVC_L14_LTR_Underlined_VodHeader</string>
			<key>cell_title_l14_ltr_underlined_vod_header_with_padding</key>
			<string>CACellVC_L14_LTR_Underlined_VodHeader_with_padding</string>
			<key>cell_title_l24_with_bg_image</key>
			<string>CACellVC_L24_Title_with_bg_image</string>
			<key>cell_title_l24_carousel_header</key>
			<string>CACellVC_L24_CarouselHeader</string>
		</dict>
		<key>CACellPromotionImageViewController</key>
		<dict>
			<key>cell_promotion_image_with_title</key>
			<string>CACellPromotionImageWithTitle</string>
			<key>cell_promotion_image</key>
			<string>CACellPromotionImage</string>
		</dict>
		<key>CAHTMLCellViewController</key>
		<dict>
			<key>cell_html_standard</key>
			<string>CACellVC_HTML</string>
			<key>cell_html_button</key>
			<string>CACellVC_HTML_Button</string>
		</dict>
	</dict>
	<key>double_column_types</key>
	<dict>
		<key>ComponentsSDK.CADoubleColumnViewController</key>
		<dict>
			<key>doublecolumn_standard</key>
			<string>CADoubleColumnVC</string>
		</dict>
	</dict>
	<key>table_types</key>
	<dict>
		<key>CATableViewController</key>
		<dict>
			<key>table_standard</key>
			<string>CATableStandard</string>
		</dict>
	</dict>
</dict>
</plist>
